
server/trunk/gae-skeleton/.idea/workspace.xml
server/trunk/gae-skeleton/.idea/vcs.xml
server/trunk/gae-skeleton/.idea/uiDesigner.xml
server/trunk/gae-skeleton/.idea/modules.xml
server/trunk/gae-skeleton/.idea/misc.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_webmvc_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_web_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_jcl_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_expression_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_core_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_context_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_beans_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_spring_aop_5_1_6_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jetty_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_1_4_RELEASE.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_26.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_ow2_asm_asm_tree_7_0.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_ow2_asm_asm_commons_7_0.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_ow2_asm_asm_analysis_7_0.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_ow2_asm_asm_7_0.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_mortbay_jasper_apache_el_8_5_35_1.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_16_Final.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_servlet_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_server_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_javax_websocket_server_impl_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_websocket_javax_websocket_client_impl_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_servlets_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_plus_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_continuation_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_eclipse_jetty_jetty_annotations_9_4_15_v20190215.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_11_2.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_2.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__javax_websocket_javax_websocket_api_1_1.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_9_8.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_9_8.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_9_8.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__com_fasterxml_classmate_1_4_0.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
server/trunk/gae-skeleton/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
server/trunk/gae-skeleton/.idea/encodings.xml
server/trunk/gae-skeleton/.idea/compiler.xml
server/trunk/gae-skeleton/.idea/codeStyles/codeStyleConfig.xml
server/trunk/gae-skeleton/.idea/.name
server/trunk/gae-skeleton/.DS_Store
server/.DS_Store
.DS_Store
server/trunk/gae-skeleton/target/appengine-staging/app.yaml
server/trunk/gae-skeleton/target/appengine-staging/springboot-helloworld-j11-0.0.1-SNAPSHOT.jar
server/trunk/gae-skeleton/target/classes/application.properties
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/ApplicationMain.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/login/LoginRepository.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/login/LoginResource.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/login/LoginService.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/login/messages/LoginRequest.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/login/messages/LoginResponse.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/sample/messages/SamplePostRequest.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/sample/messages/SamplePostResponse.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/sample/SampleRepository.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/sample/SampleResource.class
server/trunk/gae-skeleton/target/classes/com/bigfishgames/gaeskeleton/sample/SampleService.class
server/trunk/gae-skeleton/target/maven-archiver/pom.properties
server/trunk/gae-skeleton/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
server/trunk/gae-skeleton/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
server/trunk/gae-skeleton/target/springboot-helloworld-j11-0.0.1-SNAPSHOT.jar
server/trunk/gae-skeleton/target/springboot-helloworld-j11-0.0.1-SNAPSHOT.jar.original
server/trunk/gae-skeleton/README.md
