
server/trunk/gae-skeleton/.idea/*
server/trunk/gae-skeleton/.DS_Store
server/.DS_Store
.DS_Store
server/trunk/gae-skeleton/target/*
server/trunk/gae-skeleton/classes/*
server/trunk/gae-skeleton/projectFilesBackup/*
server/trunk/gae-skeleton/README.md
